@mixin push-auto {
    margin: {
      left: auto;
      right: auto;
    }
}

@mixin display-flex {
  display: -webkit-flex;
  display: flex;
}

@mixin p {
  color: rgb(0, 119, 255);
  font-size: 25px;
  font-weight: 1000;
  border: 1px solid rgb(0, 99, 248);
}

@mixin author {
  text-align: $center;
  color: #333;
  text-decoration: none;
}