@mixin push-auto {
    margin: {
      left: auto;
      right: auto;
    }
}

@mixin display-flex {
  display: -webkit-flex;
  display: flex;
}

@mixin p {
  color: rgb(255, 0, 0);
  margin: 2rem;
  font-weight: 1000;
  border: 1px solid rgb(0, 99, 248);
}

@mixin author {
  text-align: $align;
  color: #333;
  text-decoration: none;
}