$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$center: center;
$primaryColor: #888;

$font-size-h1: 40px;

$fontSize-txt: 20px;
$padded-txt: 5px;

$footer: 25px;
$footer-color: #333;
$footer-font-color: #fff;

$nav-color: #333;
$margin-nav: 0;
$padding-nav: 0;
$a-padding: 5px 10px;