$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$align: center;
$primaryColor: #888;
$secondaryColor: #333;

$font-size-h1: 40px;

$fontSize-txt: 20px;
$pad-txt: 5px;

$footer: 25px;
$footer-font-color: #fff;

$margin-nav: 0;
$padding-nav: 0;
$a-padding: 5px 10px;