@import 'media';
@import 'mixins';
@import 'variables';

* {
    font-family: $font-stack;
    @include push-auto();
}

h1 {
    font-size: $font-size-h1;
    color: $primaryColor;
    text-align: $align;
}

h2 {
    text-align: $align;
}

@include media_queries('mobile') { 
    li { 
        color: rgb(4, 0, 255);
    }
    p {
        color: rgb(0, 167, 0);
    }
}

@include media_queries('tablet') { 
    li { 
        color: rgb(0, 183, 255);
    }
    p {
        color: rgb(255, 217, 0);
    }
}

@include media_queries('laptop') { 
    li { 
        color: rgb(0, 201, 10);
    }
}

.container {
    text-align: $align;
}

nav {
    ul {
      margin: $margin-nav;
      padding: $padding-nav;
      list-style: none;
    }
  
    li { display: inline-block; }
  
    a {
      color: $secondaryColor;
      display: block;
      padding: $a-padding;
      text-decoration: none;
    }
}

.author {
    @include author();
}

p {
    @include p();
    font-size: $fontSize-txt;
    padding: $pad-txt;
}

footer {
    padding: $footer;
    background-color: $secondaryColor;
    color: $footer-font-color;
    text-align: $align;
}
